/*          scrollbar        */

/* width */
::-webkit-scrollbar {
    width: 5px; height:5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background:#c0c2c2;  border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7FD8DA;  border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7feef0;  border-radius: 10px;
  }
  